.content{
    margin:25px;
    margin-left: 40px;
    .content-news{
        display:flex;
        justify-content:space-between;
       flex-wrap: wrap;
    }
    .news{
         display: inline-block;
        width: 30%;
         flex-grow: 1;
         margin:10px;
        
    }
    img{
        height:60%;
        width:100%;
    }
}
